@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.zoomIn {
  @include animationName(zoomIn);
  @include animationduration(1s);
  @include animationfill(both);
  @include animationiteration(1);
}

.fadeInUp {
  @include animationName(fadeInUp);
  @include animationduration(1s);
  @include animationdelay(0.3s);
  @include animationfill(both);
}

.fadeIn {
  @include animationName(fadeIn);
  @include animationduration(1.5s);
  @include animationfill(both);
}

.slide-animation {
  @include animationName(slideAnimation);
  @include animationduration(0.6s);
  @include animationfill(forwards);
  z-index: 10;
}